<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet" />
    <title>To-Do Application</title>
    <script>
      var token = document.querySelector(`meta[name="csrf-token"]`).getAttribute("content");
      function updateTodo(id, completed) {
        fetch(`/todos/${id}`, {
          method: "put",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ _csrf: token, completed: completed }),
        }).then((res) => {
            if (res.ok) window.location.reload();
          }).catch((err) => console.error(err));
      }

      function deleteTodo(id) {
        fetch(`/todos/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ _csrf: token }),
        }).then((res) => {
            if (res.ok) window.location.reload();
          }).catch((err) => console.error(err));
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <a href="/signout">Signout</a>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input type="text" name="title" class="border border-gray-600 text-sm text-gray-900 font-semibold w-full rounded-full p-2" placeholder="What's Next?"/>
            </div>
            <div class="flex-auto">
              <input type="date" name="dueDate" placeholder="dd/mm/yyyy" class="border border-gray-600 text-xs text-gray-900 font-semibold w-full rounded-full p-2 h-full"/>
            </div>
            <div class="flex-none">
              <button type="submit"  class="bg-green-600 text-white px-5 px-2 w-full h-full rounded font-medium mr-2 mb-2">
                Add
              </button>
            </div>
          </div>
        </form>
        <%- include('todo.ejs', {todosList: overDueItems, typeID: "overdue",
        type: "Overdue"}) %> <%- include('todo.ejs', {todosList: dueTodayItems,
        typeID: "today", type: "Due Today"}) %> <%- include('todo.ejs',
        {todosList: dueLaterItems, typeID: "later", type: "Due Later"}) %> <%-
        include('todo.ejs', {todosList: completedItems, typeID: "completed",
        type: "Completed Items"}) %>

        <% if(messages && messages.error && messages.error.length > 0)  { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
        <%- include('noti.ejs', {error: messages.error[i]})%>
    <% } %>
    <% } %>
    </div>
    </div>
  </body>
</html>